<mdb-carousel [animation]="'slide'" height="585px" >
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../assets/images/library1.jpg" height="585px" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../assets/images/library2.jpg" height="585px"  alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="../../assets/images/library3.jpg" height="585px" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>


