<mat-toolbar color = "primary">
  <span routerLink="/homepage" class="pointer">Homepage</span>

  <span style="flex-grow: 1"></span>
  <span *ngIf="!showLogoutButtons" class=" pointer" routerLink="/login">Login</span>
  <span *ngIf="!showLogoutButtons" class=" pointer" style="margin-right: 0px" routerLink="/register">Register</span>
  <span *ngIf="showLogoutButtons" routerLink="/search" class="pointer">Search Book</span>
  <span *ngIf="showLogoutButtons" routerLink="/account" class="pointer">View Account</span>
  <span *ngIf="showLogoutButtons" class="pointer" (click)="logout()" style="margin-right: 0px" >Logout</span>


</mat-toolbar>
<mat-card-content>
<router-outlet></router-outlet>
</mat-card-content>
