.pointer{
  cursor: pointer;
  padding: 5px;
  background-color: #5f5fb5;
  border-radius: 5px;
  margin-right:10px;
}
span:hover{
  background-color: darkslategray;
}

.mat-toolbar.mat-primary{
  border-radius: 5px;
  margin-bottom: 3px;
}
