<h2 mat-dialog-title>Reset Password</h2>

<mat-dialog-content [formGroup]="forgotPasswordForm">
  <div class="example-container">

    <mat-form-field>
      <input matNativeControl
             placeholder="Email"
             formControlName="email">
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary"(click)="reset()">Reset</button>
  <button class="mat-raised-button"(click)="close()">Cancel</button>
</mat-dialog-actions>
