<div style="width:312px;height: 158px" class="forgot-password-dialog">
<div mat-dialog-title>Reset Password</div>

<mat-dialog-content [formGroup]="forgotPasswordForm">
  <div>

    <mat-form-field>
      <input matNativeControl
             placeholder="Email"
             formControlName="email">
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-primary"(click)="reset()" [disabled]="!forgotPasswordForm.valid">Reset</button>
  <button class="mat-raised-button"(click)="close()">Cancel</button>
</mat-dialog-actions>
</div>
