
.mat-card{
  margin: 15px 0 15px 0;
  //width: 1080px;
  //padding: 10px;
  //height: 114px;
  //text-align: center;
  //background-color: #ccd5dc;
}

.searchBar{
  margin: auto;
  width: 562px;
  padding-top: 20px
}

.searchIcon :hover{
  cursor: pointer;
}

.searchIcon{
  padding: 8px;
  margin-left: -10px;
}
table {
  width: 100%;
}
